<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AppCast.Properties.Settings.AppCastTestConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Data\AppCast.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
 <add name="AppCastEntities" connectionString="metadata=res://*/Model.appcast.csdl|res://*/Model.appcast.ssdl|res://*/Model.appcast.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appcast-backend.cloudapp.net;initial catalog=AppCast;persist security info=True;user id=appcast;password=qwerty123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IVideoConferenceService" closeTimeout="24.20:31:23.6470000"
            openTimeout="24.20:31:23.6470000" receiveTimeout="24.20:31:23.6470000" sendTimeout="24.20:31:23.6470000"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="698400" maxConnections="10"
            maxReceivedMessageSize="698400">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="698400"
              maxBytesPerRead="4096" maxNameTableCharCount="698400" />
          <reliableSession ordered="true" inactivityTimeout="24.20:31:23.6470000"
              enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IVideoConferenceService1" closeTimeout="24.20:31:23.6470000"
            openTimeout="24.20:31:23.6470000" receiveTimeout="24.20:31:23.6470000" sendTimeout="24.20:31:23.6470000"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="24.20:31:23.6470000"
              enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/VideoServer/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IVideoConferenceService"
          contract="VideoServiceReference.IVideoConferenceService" name="NetTcpBinding_IVideoConferenceService">
        <identity>
          <userPrincipalName value="FadiAbdelqader\Fadi Abdelqader" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8000/VideoServer/" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IVideoConferenceService1"
          contract="VideoServiceReference.IVideoConferenceService" name="NetTcpBinding_IVideoConferenceService1">
        <identity>
          <userPrincipalName value="FadiAbdelqader\Fadi Abdelqader" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>